# Backend config
PORT=4000
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-XXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Offline methods (display only)
NEQUI_NUMBER=3000000000
DAVIPLATA_NUMBER=3100000000
